body {
  font-family: 'Inter';
  color: white;
  background-color: #212230;
  background-image: url("./img/bg.svg");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}
.circle-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px; 
  height: 270px; 
}

.img-cicle{
  width: 250px;
  height: 270px;
}

.main-header{
   font-family: 'Inter';
   font-size: 50px;
   margin:0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative; 
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
}
label {
   color: black;
}
#timer {
  font-family: 'Inter';
  position: absolute;
  font-size: 64px;
  color: white;
  text-align: center;
  width: 100%; 
}

.button {
   background-color: #FF5733;
   border-radius: 100%;
   padding: 10px 12px;
   border: none;
   color: white;
   box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin-bottom: 20px;
}
.button-start{
   font-family: 'Inter';
   width: 120px;
   height: 40px;
   background-color: #FF5733;
   color: white;
   border: none;
   outline: none;
   font-size: 22px;
   box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
   margin-bottom: 20px;
   border-radius: 10px;
}
.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover, .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.e-c-base {
   fill: #20212f;
   stroke-width: 5px;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
.e-c-progress {
   fill: none;
   stroke: #686a85;
   stroke-width: 5px;
   transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
   fill: #900C3F;

   stroke-width: 3px;
}
#e-pointer {
   transition: transform 0.7s;
}

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}
#settingsForm {
   background-color: #fff;
   padding: 20px;


   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   width: auto;
   position: relative;
}
#settingsForm h2 {
   color: #333;
   margin-bottom: 20px;
}
#settingsForm input {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
}
#settingsForm button {
   background-color: #007bff;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
#settingsForm button:hover {
   background-color: #0056b3;
}
#settingsForm .closeButton {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 18px;
   color: #555;
}
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
}
.my-form{
   margin-left: auto;
   margin-right: auto;
}
.modal-content {
   background-color: #fefefe;
   margin-left: auto;
   margin-right: auto;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   max-width: 500px;
   position: relative;
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover, .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
#settingsForm {
   text-align: center;
}
label {
   display: block;
   margin-bottom: 10px;
}
input[type="number"] {
   width: 100%;
   padding: 8px;
   margin-bottom: 20px;
   box-sizing: border-box;
}
#applySettings:disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed; 
}

#applySettings {
  background-color: #686A85;
  color: white; 
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
#applySettings:hover:not(:disabled) {
  background-color: #686a82; 
}
.task-modal {
  color: white;

  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 

}

.task-modal-input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}




.task-modal-div {
  color: white;

  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.task-modal-div-complite{
  color: white;

  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #686A85;
}


.task-modal-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #686A85;
  color: white;
  border: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; 
  margin:5px

}

.task-name-display {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
.heading{
  margin-top: 10px;
  margin-bottom: 5px;
}

.circle{
  font-size: 24px;
  margin:0;
}

.head_title{
  font-size:35px;
  margin:0;
}



@media only screen and (max-width: 300px) {
  .circle-timer-container{
    width: 250px; 
    height: 270px;
  }
   .img-cicle{
       width: 250px;
       height: 250px;
  }

   .main-header{
       font-size: 40px;
  }

  .head_title{
    font-size:34px;
    margin:0;
  }

   .circle{
     font-family: 'Inter';
     margin:0;
       font-size: 24px;
  }

  .task-modal-div {
      padding: 5px; 
  }

  .task-modal-button {
      font-size: 14px;
      padding: 8px 15px;
  }

  .task-name-display {
      font-size: 16px;
  }
  #timer {
     font-size: 64px; 
  }
}