.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}


#timer {
    font-size: 48px;
    margin: 20px;
}

.button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.e-c-base {
    fill: none;
    stroke: #d44848;
    stroke-width: 5px;
}


.e-c-progress {
    fill: none;
    stroke: #686a85;
    stroke-width: 5px;
    transition: stroke-dashoffset 0.7s;

}

.e-c-pointer {
    fill: #d44848;
    stroke: #d44848;
    stroke-width: 3px;

}

#e-pointer {
    transition: transform 0.7s;
}

