body {
     font-family: 'Inter', sans-serif;
     color: white;
     background-color: #212230;
     background-image: url("./img/bg.svg");
     background-repeat: repeat;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;

}
 .main-header{
     font-size: 30px;
  margin:0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative; /* Добавлено */
}

 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.4);
}
 label {
     color: black;
}
 #timer {
     font-size: 88px;
     margin: 0;
    /* Remove the top margin */
     position: absolute;
    /* Set position to absolute */
     top: 45.5%;
    /* Position it vertically at 50% of its containing element (the circle) */
     left: 50%;
    /* Position it horizontally at 50% of its containing element (the circle) */
     transform: translate(-50%, -50%);
    /* Center it precisely using translate */
     z-index: 1;
    /* Ensure it's above other elements in the SVG */
}

 .button {
     background-color: #6B70B0;
     border-radius: 100%;
     padding: 10px 12px;
     border: none;
     color: white;
    /* You can set the text color as needed */
     box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     margin-bottom: 20px;
}
 .button-start{
     width: 120px;
     height: 40px;
     background-color: #686A85;
     color: white;
     border: none;
     outline: none;
     font-size: 22px;
     box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
     margin-bottom: 20px;
     border-radius: 10px;
}
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
}
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
 .close:hover, .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}
 .e-c-base {
     fill: #20212f;
     stroke-width: 5px;
}
 .e-c-progress {
     fill: none;
     stroke: #686a85;
     stroke-width: 5px;
     transition: stroke-dashoffset 0.7s;
}
 .e-c-pointer {
     fill: #d44848;
     stroke: #d44848;
     stroke-width: 3px;
}
 #e-pointer {
     transition: transform 0.7s;
}
 .head_title {
     font-size: 45px;
     color: rgb(107, 112, 176);
     margin: 0;
}
 .lapse{
     font-size: 34px;
     margin: 0;
}
 #overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
}
 #settingsForm {
     background-color: #fff;
     padding: 20px;


     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     width: 400px;
     position: relative;
}
 #settingsForm h2 {
     color: #333;
     margin-bottom: 20px;
}
 #settingsForm input {
     width: 100%;
     padding: 10px;
     margin-bottom: 15px;
     border: 1px solid #ddd;
     border-radius: 4px;
}
 #settingsForm button {
     background-color: #007bff;
     color: #fff;
     padding: 10px 15px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 #settingsForm button:hover {
     background-color: #0056b3;
}
 #settingsForm .closeButton {
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
     font-size: 18px;
     color: #555;
}
/* Modal Styles */
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
}
 .my-form{
     margin-left: auto;
     margin-right: auto;
}
 .modal-content {
     background-color: #fefefe;
     margin-left: auto;
     margin-right: auto;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     max-width: 500px;
     position: relative;
}
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
 .close:hover, .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}
/* Form Styles */
 #settingsForm {
     text-align: center;
}
 label {
     display: block;
     margin-bottom: 10px;
}
 input[type="number"] {
     width: 100%;
     padding: 8px;
     margin-bottom: 20px;
     box-sizing: border-box;
}
 #applySettings {
     background-color: #4caf50;
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 #applySettings:hover {
     background-color: #45a049;
}
 .task-modal {
     color:#0056b3;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     padding: 20px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
    /* Horizontal alignment */
     align-items: center;
}
 .task-modal-input {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 5px;
}
 .task-modal-button {
     padding: 10px 20px;
     border-radius: 5px;
     background-color: #4CAF50;
     color: white;
     border: none;
     cursor: pointer;
     font-size: 16px;
}
 @media only screen and (max-height: 700px) {
     .img-cicle{
         width: 300px;
         height: 300px;
    }
}
 @media only screen and (max-width: 500px) {
     .img-cicle{
         width: 300px;
         height: 300px;
    }


     .head_title{
         font-size: 28px;
    }
     .main-header{
         font-size: 24px;
    }
     .lapse{
         font-size: 34px;
    }
     #timer{
        top: 40%;
  font-size:28px;  
    }
}
