/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* Находится над другими элементами */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включаем прокрутку, если нужно */
    background-color: rgb(0,0,0); /* Цвет фона */
    background-color: rgba(0,0,0,0.4); /* Цвет фона с прозрачностью */
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
#timer {
  font-size: 48px;
  margin: 20px;
}
.button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% от верха и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина может быть изменена */
}

/* Стили для кнопки закрытия модального окна */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
